{% extends "users/base.html" %}

{% block head_content %}
<title>Login | Platzigram</title>
{% endblock head_content %}


{% block container %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    {% load static %}
    <div class="fadeIn first">
      <img src="{% static 'img/instagram_logo.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    {% if error %}
    <p class="text-danger">{{error}}</p>
    {% endif %}

    <form method="POST"> 
      {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <hr>
    <p class="mt-4">Don't have an account yet? <a href="">Sign up here.</a></p>
  </div>
</div>
{% endblock container %}
