{% extends 'users/base.html' %}

{% block head_content %}
<title>Signup | Platzigram </title>
{% endblock head_content %}


{% block container %}
<div class="signup-form">
	<form action="{% url 'users:signup' %}" method="post">
		{% csrf_token %}
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
		{% if form.errors %}
		<div class="form-group"><p class="">{{form.errors}}</p></div>	
		{% endif %}
		<div class="form-group">
			<div class="row">
				<div class="col"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
				<div class="col"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
			</div>        	
		</div>

		<div class="form-group">
			<input type="text" class="form-control" name="username" placeholder="User Name" required="required">
		</div>

		<div class="form-group">
			<input type="email" class="form-control" name="email" placeholder="Email" required="required">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Password" required="required">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password" required="required">
		</div>        
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
		</div>
	</form>
</div>
{% endblock container %}


